*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 3 rem;
    color: #1e1014;;
    text-transform: uppercase;
    font-family: 'Titan One', cursive;
}
.navbar-brand:hover{
    color:#caffd0;
}
.nav-link,.nav-item{
    margin-right: 11px;
    margin-left: 11px;    
    color: #1e1014;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    
    
}
.nav-link:hover{
    color: #c9e4e7;

}

.fab fa-align-justify{
    background-color: #1e1014;
} 
.finds{
    border-radius: 60%;
    outline: none;
    border: none;   
    background: #b4a0e5;
    font-weight: 500;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
    text-decoration: none;
    padding: 10px; 
}

.hook {
    background-image: url('../img/hydrangea1920.jpg');
    background-size: cover;
    border: #caffd0 2px solid;
    border-radius: 200em;
    background-position: 60% 60%;
    height: 90vh;
    width: 100%;   
    
}
.birthhook {
    background-image: url('../img/cosmos-1280.jpg');
    background-size: cover;
    border: #caffd0 2px solid;
    border-radius: 300em;
    background-position: 60% 60%;
    height: 60vh;
    width: 100%;    
    
}
.horohook{
    background-image: url('../img/psky.jgp.jpg');
    background-size: cover;
    border: #caffd0 2px solid;
    border-radius: 300em;
    background-position: 60% 60%;
    height: 60vh;
    width: 100%;   
}
.hook h1{
    font-size:5rem;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;    
    color:rgb(254, 252, 239);

}
.birthhook h1{
    font-size:5rem;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;    
    color:#caffd0;

}
.horohook h1{
    font-size:5rem;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;    
    color:#1e1014;

}

.img-luid{
    height: 300px;
    border: #caffd0 2px solid;
    opacity: 80%;
    
}
.icontag{
    color: #1e1014;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
  

}
.fph1{
    font-weight: 800;
    color: #1e1014;
}
.fph2{
    font-weight: 800;
    color: #caffd0;
}
.card{
    background: rgb(243, 238, 243);
    border: none;
}
.footer{
    background-color: #1e1014;
    color: #ca3cff;
    padding-left: 20px;
}
.foot-t{
    padding-left: 28px;
    
}

.foot-link,.foot-item,.footp{
       
    color: #caffd0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    
        
}
.foot-lg, ul,  a{
    list-style: none;
    text-decoration: none;

} 
.foot-link:hover{
    color: #b4a0e5;

}
.footh1{
    font-weight: 700;
    color: #ca3cff;
    padding-bottom: 25px;
    
}
.bwrite{
    font-family: 'Titan', sans-serif;
    font-size: 120%;
}
.dark{
    background-color: #1e1014;
    color: whitesmoke;
}

