<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Us</title>

</head>

<body>
    <nav>
        <ul>
            <li><a href="/index">Home Page</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/birthmonth">Birth Months</a></li>
            <li><a href="/horoscope">Horoscope Signs</a></li>
            <li><a href="/contactus">Contact Us</a></li>
    
        </ul>
    </nav>
    

    <footer class="container">
        <p>&copy; Company 2017-2019</p>
    </footer>   
</body>

</html>