<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Titan+One&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Menu-->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/index">Horo Flowers</a>
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav m-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/birthmonth">Birth Flowers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/horoscope">Find your Horoscope</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/contactus">Contact Us</a>
                    </li>
                </ul>                
            </div>
        </div>
    </nav>
    <!-- Body Hook-->
    <section class="birthhook">
        <div class="container py-4">
            <div class="row py-5">
                <div class="col-lg-12 ">
                    <h1 class="pt-5 text-center"> Birthmonth Flowers</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="Horoscope">
        <div class="container py-8 text-center">
            <div class="row py-4 ">
                <div class="col-lg-12 m-auto">
                    <h1 class="fph1"> Your Horoscope Flowers</h1>
                    <p class="bwrite"> Here as Horos Flowers we believe that Astrology refers to any of a number of
                        traditions or
                        systems in which the apparent locations of celestial bodies are seen to be useful in
                        comprehending, interpreting, and organising knowledge about reality and human existence on
                        Earth. Many astrology practitioners think that the positions of particular celestial planets
                        impact or correspond with people's personality traits, significant life events, and even
                        physical attributes.
                        <br><br> Astrology connects many aspects of one's daily life to the stars into which one was
                        born. Flowers and astrology are two other examples. Flowers that appeal to those born under a
                        certain astrological sign have been discovered. As a result, it is necessary to know what
                        flowers to give to our loved ones according on their zodiac sign, as the attraction of flowers
                        and the benevolence of flowers varies by zodiac sign.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Horocope Sections -->
    <section id="scope" class="py-5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-lg">
                    <img src="img/aqua3.jpg" class="img-fluid" />
                </div>
                <div class="col-lg py-5">
                    <h2 class="fph1">Aquarius: Orchids</h2>
                    <p class="bwrite">
                        The orchid bloom is elegant, fragile, and powerful.
                        They are also greatly influenced by their surroundings, much like people born under the sign of
                        Aquarius, who are often depicted as delicate as the wind.
                    </p>
                    <p class="bwrite">
                        Orchids are among the most popular indoor plants.
                        It's not difficult to learn how to care for orchid plants if you provide them with the right
                        growing circumstances. 
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg py-5">
                    <h2 class="fph2">Pisces: Water Lilies </h2>
                    <p class="bwrite">
                        Pisces are sympathetic, understanding, and forgiving.
                        As a result, the water lily is the natal flower for this sign, and it also plays an important
                        part in spiritualism.
                    </p>
                    <p class="bwrite">
                        Water lilies are the nice addition for a pond, providing both functionality and beauty to a
                        water feature.
                        These plants that grow in ponds serve to keep the water clean and aerated.
                    </p>
                </div>
                <div class="col-lg">
                    <img src="img/pies1.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="py-5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-lg">
                    <img src="img/honeysuckle.png" class="img-fluid" />
                </div>
                <div class="col-lg py-5">
                    <h2 class="fph1">Aries: Honeysuckle</h2>
                    <p class="bwrite">
                        Aries is the sign of resurrection and perseverance in difficult circumstances.
                        As a result, honeysuckle, which blooms in colder night time temperatures in early spring.
                    </p>
                    <p class="bwrite">
                        The wonderful aroma of a honeysuckle vine and the delicious taste of its nectar are well known.
                        Honeysuckles are scorch resistant and aesthetically pleasing in any garden.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg py-5">
                    <h2 class="fph2">Taurus: Garden lilies</h2>
                    <p class="bwrite">
                        Taurus signs are passionate and compassionate, and they appreciate being adored.
                        As a result, the lily, which denotes vitality and innocence, is an ideal choice for them.
                    </p>
                    <p class="bwrite">
                        Lily flowers provide warm summer displays with the appearance of a conventional daisy and lush
                        greenery
                        that lasts year after year in many places.
                    </p>
                </div>
                <div class="col-lg">
                    <img src="img/lily.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="py-5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-lg">
                    <img src="img/lavender.jpg" class="img-fluid" />
                </div>
                <div class="col-lg py-5">
                    <h2 class="fph1">Gemini: Lavender </h2>
                    <p class="bwrite">
                        Geminis are famed for their friendliness, therefore the aromatic lavender, fits this sign
                        perfectly.
                        This sign, like the exquisite lavender blossom, exudes a charming personality and appeal.
                    </p>
                    <p class="bwrite">
                        Lavender is a popular herb plant farmed for its pleasant scent.
                        This low-maintenance plant prefers hot, dry weather.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg py-5">
                    <h2 class="fph2">Cancer: A White Rose</h2>
                    <p class="bwrite">
                        Cancers are born under the high moon, thus it seems to reason that their flower would be white,
                        like the dazzling moon.
                        The white rose symbolises simplicity, sincerity, and vitality, which is ideal for the empathetic
                        Cancer sign.
                    </p>
                    <p class="bwrite">
                        Consider growing the white rose if you want long-lasting petals
                        that can withstand the hottest days of summer and coolness of the night.
                    </p>
                </div>
                <div class="col-lg">
                    <img src="img/wrose.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="py-5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-lg">
                    <img src="img/sunflowers.jpg" class="img-fluid" />
                </div>
                <div class="col-lg py-5">
                    <h2 class="fph1">Leo: Sunflowers</h2>
                    <p class="bwrite">
                        Leos are affectionate, accepting, daring, and comforting.
                        With their propensity to put a grin on everyone's face, it's no wonder that their bloom would be
                        just as eye-catching as they are.
                    </p>
                    <p class="bwrite">
                        Annual sunflowers often grow from a single stalk spread apart.
                        Perennial sunflowers form clusters with several shoots emerging from the ground in a compact
                        cluster.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg py-5">
                    <h2 class="fph2">Virgo: Chrysanthemumst</h2>
                    <p class="bwrite">
                        Chrysanthemums are born before the winter seasons, rendering them robust and symbolic of
                        contentment during the colder months.
                        Virgos, are perfectionists with a good strong attention to detail, making Chrysanthemum a
                        wonderful choice.
                    </p>
                    <p class="bwrite">
                        Chrysanthemum blossoms are a traditional way to liven up an autumn landscape.
                        Growing chrysanthemum is simple if you understand the fundamentals of chrysanthemum care.
                    </p>
                </div>
                <div class="col-lg">
                    <img src="img/chrysanthemum.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="py-5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-lg">
                    <img src="img/rose.jpg" class="img-fluid" />
                </div>
                <div class="col-lg py-5">
                    <h2 class="fph1">Libra: Roses</h2>
                    <p class="bwrite">
                        Libras are calm and harmonious, which is why their flower is the traditional rose.
                        A red rose symbolises love and charm, making it an excellent gesture for a Libra companion.
                    </p>
                    <p class="bwrite">
                        When most people think of roses, they think of the red rose's flowers.
                        Many people gift or receive these stunning high-centered classic beautiful blossoms from friends
                        or loved ones.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg py-5">
                    <h2 class="fph2">Scorpio: Geranium </h2>
                    <p class="bwrite">
                        Scorpios are believed to be enigmatic people, thus Geraniums are an excellent pick for them.
                    </p>
                    <p class="bwrite">
                        Geraniums are well-known for their bright colours and powerful perfume. In reality, the
                        blossoming plant is an excellent choice for the ambitious Scorpio.
                        The flower also signifies the adaptability of Scorpios to a considerable extent.
                    </p>
                </div>
                <div class="col-lg">
                    <img src="img/geranium.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="py-5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-lg">
                    <img src="img/carnations.jpg" class="img-fluid" />
                </div>
                <div class="col-lg py-5">
                    <h2 class="fph1">Sagittarius: Carnations</h2>
                    <p class="bwrite">
                        Sagittarius signs, like the lovely carnation flower, are endearing and well-liked.
                        The white carnations symbolise love, which fits wonderfully with Sagittarius' passion of
                        romance.
                    </p>
                    <p class="bwrite">
                        Carnations trace back to ancient Greece and Rome, and mean "the flower of the deities" in Greek.
                        Carnations are still the most common displayed flower.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="scope" class="dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg py-5">
                    <h2 class="fph2">Capricorn: Pansy</h2>
                    <p class="bwrite">
                        Pansies are often the first flower to bloom in the new year, making it a perfect companion for
                        Capricorns, who are born in this time.
                        The gentle and modest pansy represents love, devotion for other people, and sincere loyalty.
                    </p>
                    <p class="bwrite">
                        Pansy plants are beautiful, blossoming florals that are grows with the first of the winter
                        season in many locations.
                        Pansies may bring bright colours to a flower garden stark against the winter foliage.
                    </p>
                </div>
                <div class="col-lg">
                    <img src="img/pansy.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <!-- Footer section-->
    <section class="footer py-6">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8 m-auto text-center">
                    <h1 class="footh1"> Get Up-To-Date info on Flower Care</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="foot-lg col-lg-4">
                            <h4 class="foot-t"> Useful links</h4>
                            <ul class="foot-nav m-auto my-2 my-lg-0">
                                <li class="foot-item"> <a class="foot-link active" href="/contactus">Contact Us</a></li>
                                <li class="foot-item"> <a class="foot-link active" href="/horoscope">Terms of
                                        service</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h4 class="foot-t"> Help</h4>
                            <ul class="foot-nav m-auto my-2 my-lg-0">
                                <li class="foot-item"> <a class="foot-link" href="/birthmonth">Flower index</a></li>
                                </li>
                                <li class="foot-item"> <a class="foot-link active" href="/horoscope">Find your
                                        Horoscope</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h4 class="foot-t">Satifaction Gurantee</h4>
                            <p class="footp"> Our website is guranteed to help you find theright flowers for you sign.
                            </p>
                            <p class="footp"> If you find yourself struggling to pick the right one, get in touch.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p> Copyright ©2022 All Rights Reserved. </p>
        </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
<!-- END-->